<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84158236-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-84158236-2');
	</script>

	<title>Author Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../images/logo.jpeg"/>
	<!--===============================================================================================-->
	<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
	<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
	<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../css/util.css">
	<link rel="stylesheet" type="text/css" href="../css/book_page.css">
	<!--===============================================================================================-->
</head>
<body>
	
	<div class="container-wrapper">
		<div class="limiter">
			<span> Login user id: {{user}} </span>
			&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
			&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
			&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
			&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
			&emsp; &emsp; &emsp; &emsp; &emsp;

			<a href="#" id="logout">Logout</a>
		</div>

		<div class="container">
			<div class="admin_box">
				<form class="add_book">
					<div class="form-row">
						<div class="col-md-3 mb-2">
							<input type="text" class="form-control" id="title" placeholder="Title" value="">
						</div>
						<div class="col-md-3 mb-2">
							<input type="text" class="form-control" id="goodreads_book_id" placeholder="Goodreads book id" value="">
						</div>
						<div class="col-md-3 mb-2">
							<input type="text" class="form-control" id="isbn" placeholder="ISBN" value="">
						</div>
						<div class="col-md-3 mb-2">
							<input type="text" class="form-control" id="isbn13" placeholder="ISBN13" value="">
						</div>
						<div class="col-md-3 mb-2">
							<input type="text" class="form-control" id="authors" placeholder="Authors" value="">
						</div>
						<div class="col-md-3 mb-2">
							<input type="text" class="form-control" id="original_publication_year" placeholder="Publication year" value="">
						</div>
						<div class="col-md-3 mb-2">
							<input type="text" class="form-control" id="language code" placeholder="Language code" value="">
						</div>
						<div class="col-md-3 mb-2">
							<input type="text" class="form-control" id="image_url" placeholder="Image url" value="">
						</div>
						<div class="col-md-12 mb-8" style="text-align: center;">
							<button class="btn btn-success" id="add_book_button" style="width: 100%"> Add book </button>
						</div>
					</div>
				</form>
			</div>
			<br><br><br><br><br>
			<div class="admin_box" style="border-top: 2px black solid">
				<form class="add_book">
					<div class="form-row">
						<div class="col-md-3 mb-2">
							<input type="text" class="form-control" id="goodreads_book_id_tag" placeholder="Goodreads book id" value="">
						</div>
						<div class="col-md-3 mb-2">
							<input type="text" class="form-control" id="tag" placeholder="Tag" value="">
						</div>
						<div class="col-md-2 mb-2">
							<button class="btn btn-success" id="add_tag_button" style="width: 100%"> Add tag </button>
						</div>
					</div>
				</form>
			</div>
			<br><br><br><br><br>
			<div class="admin_box" style="border-top: 2px black solid" id="tag_names">
				
			</div>
		</div>
	<!-- /.container -->
	</div>


<!--===============================================================================================-->
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/bootstrap/js/popper.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/daterangepicker/moment.min.js"></script>
<script src="../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="../vendor/socket.io.min.js"></script>

<script src="../js/admin_page.js"></script>

<script>
	{% if error %}
	alert(' {{ error }}'); 
	{% endif %}
</script>

</body>
</html>